<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.sys.mapper.DictionaryTypeMapper">

	<resultMap id="BaseResultMap" type="com.krt.sys.entity.DictionaryType">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="sort_no" jdbcType="INTEGER" property="sortNo" />
		<result column="inserter" jdbcType="INTEGER" property="inserter" />
		<result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
		<result column="updater" jdbcType="INTEGER" property="updater" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		id,code,name,remark,sort_no,inserter,insert_time,updater,update_time
	</sql>

	<!-- 添加字典类型表 -->
	<insert id="insert" parameterType="com.krt.sys.entity.DictionaryType" useGeneratedKeys="true" keyProperty="id">
		insert into sys_dictionary_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> id, </if>
			<if test="code != null"> code, </if>
			<if test="name != null"> name, </if>
			<if test="remark != null"> remark, </if>
			<if test="sortNo != null"> sort_no, </if>
			<if test="inserter != null"> inserter, </if>
			<if test="insertTime != null" >insert_time, </if>
			<if test="updater != null"> updater, </if>
			<if test="updateTime != null"> update_time, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{id,jdbcType=INTEGER}, </if>
			<if test="code != null"> #{code,jdbcType=VARCHAR}, </if>
			<if test="name != null"> #{name,jdbcType=VARCHAR}, </if>
			<if test="remark != null"> #{remark,jdbcType=VARCHAR}, </if>
			<if test="sortNo != null"> #{sortNo,jdbcType=INTEGER}, </if>
			<if test="inserter != null"> #{inserter,jdbcType=INTEGER}, </if>
			<if test="insertTime != null" >#{insertTime,jdbcType=TIMESTAMP},</if>
			<if test="updater != null"> #{updater,jdbcType=INTEGER}, </if>
			<if test="updateTime != null"> #{updateTime,jdbcType=TIMESTAMP}, </if>
		</trim>
	</insert>
	
	<!-- 删除字典类型表 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from sys_dictionary_type where id = #{id,jdbcType=INTEGER}
	</delete>

	<!-- 批量删除字典类型表 -->
	<delete id="deleteByIds" parameterType="java.lang.Integer">
		delete from sys_dictionary_type where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- 修改字典类型表 -->
	<update id="update" parameterType="com.krt.sys.entity.DictionaryType">
		update sys_dictionary_type
		<set>
			<if test="id != null"> id = #{id,jdbcType=INTEGER}, </if>
			<if test="code != null"> code = #{code,jdbcType=VARCHAR}, </if>
			<if test="name != null"> name = #{name,jdbcType=VARCHAR}, </if>
			<if test="remark != null"> remark = #{remark,jdbcType=VARCHAR}, </if>
			<if test="sortNo != null"> sort_no = #{sortNo,jdbcType=INTEGER}, </if>
			<if test="inserter != null"> inserter = #{inserter,jdbcType=INTEGER}, </if>
			<if test="insertTime != null"> insert_time = #{insertTime,jdbcType=TIMESTAMP}, </if>
			<if test="updater != null"> updater = #{updater,jdbcType=INTEGER}, </if>
			<if test="updateTime != null"> update_time = #{updateTime,jdbcType=TIMESTAMP}, </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 根据ID查询字典类型表 -->
	<select id="selectById" resultType="java.util.Map">
		select
			 id,code,name,remark,sort_no,inserter,insert_time,updater,update_time
		from sys_dictionary_type
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 查询字典类型表列表 -->
	<select id="selectAll" resultType="java.util.Map">
		select
			id,code,name,remark,sort_no,inserter,insert_time,updater,update_time
		from sys_dictionary_type
	</select>

	<!-- 带参数查询字典类型表列表 -->
	<select id="selectList" resultType="java.util.Map">
		select id, code, name, remark, sort_no from sys_dictionary_type where 1=1
		<if test="code!=''">
			and code=#{code}
		</if>
		<if test="name!=''">
			and  name like concat('%',#{name},'%')
		</if>
		<if test="orderName!=null and orderName !=''">
			order by ${orderName} ${orderType}
		</if>
	</select>

	<!-- 检测字典编码 -->
	<select id="checkCode" resultType="java.lang.Integer">
		select count(id) from sys_dictionary_type where code=#{code}
		<if test="id!=null">
			and id != #{id}
		</if>
	</select>

</mapper>

