<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.sys.mapper.NumberMapper">

	<resultMap id="BaseResultMap" type="com.krt.sys.entity.Number">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="prefix" jdbcType="VARCHAR" property="prefix" />
		<result column="suffix" jdbcType="VARCHAR" property="suffix" />
		<result column="num" jdbcType="INTEGER" property="num" />
		<result column="num_length" jdbcType="INTEGER" property="numLength" />
		<result column="date_format" jdbcType="VARCHAR" property="dateFormat" />
		<result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
		<result column="inserter" jdbcType="INTEGER" property="inserter" />
		<result column="updater" jdbcType="INTEGER" property="updater" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		id,code,name,prefix,suffix,num,num_length,date_format,insert_time,inserter,updater,update_time
	</sql>

	<!-- 添加流水号 -->
	<insert id="insert" parameterType="com.krt.sys.entity.Number" useGeneratedKeys="true" keyProperty="id">
		insert into sys_number
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> id, </if>
			<if test="code != null"> code, </if>
			<if test="name != null"> name, </if>
			<if test="prefix != null"> prefix, </if>
			<if test="suffix != null"> suffix, </if>
			<if test="num != null"> num, </if>
			<if test="numLength != null"> num_length, </if>
			<if test="dateFormat != null"> date_format, </if>
			<if test="insertTime != null"> insert_time, </if>
			<if test="inserter != null"> inserter, </if>
			<if test="updater != null"> updater, </if>
			<if test="updateTime != null"> update_time, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{id,jdbcType=INTEGER}, </if>
			<if test="code != null"> #{code,jdbcType=VARCHAR}, </if>
			<if test="name != null"> #{name,jdbcType=VARCHAR}, </if>
			<if test="prefix != null"> #{prefix,jdbcType=VARCHAR}, </if>
			<if test="suffix != null"> #{suffix,jdbcType=VARCHAR}, </if>
			<if test="num != null"> #{num,jdbcType=INTEGER}, </if>
			<if test="numLength != null"> #{numLength,jdbcType=INTEGER}, </if>
			<if test="dateFormat != null"> #{dateFormat,jdbcType=VARCHAR}, </if>
			<if test="insertTime != null"> #{insertTime,jdbcType=TIMESTAMP}, </if>
			<if test="inserter != null"> #{inserter,jdbcType=INTEGER}, </if>
			<if test="updater != null"> #{updater,jdbcType=INTEGER}, </if>
			<if test="updateTime != null"> #{updateTime,jdbcType=TIMESTAMP}, </if>
		</trim>
	</insert>

	<!-- 删除流水号 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from sys_number where id = #{id,jdbcType=INTEGER}
	</delete>

	<!-- 批量删除流水号 -->
	<delete id="deleteByIds" parameterType="java.lang.Integer">
		delete from sys_number where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- 修改流水号 -->
	<update id="update" parameterType="com.krt.sys.entity.Number">
		update sys_number
		<set>
			<if test="id != null"> id = #{id,jdbcType=INTEGER}, </if>
			<if test="code != null"> code = #{code,jdbcType=VARCHAR}, </if>
			<if test="name != null"> name = #{name,jdbcType=VARCHAR}, </if>
			<if test="prefix != null"> prefix = #{prefix,jdbcType=VARCHAR}, </if>
			<if test="suffix != null"> suffix = #{suffix,jdbcType=VARCHAR}, </if>
			<if test="num != null"> num = #{num,jdbcType=INTEGER}, </if>
			<if test="numLength != null"> num_length = #{numLength,jdbcType=INTEGER}, </if>
			<if test="dateFormat != null"> date_format = #{dateFormat,jdbcType=VARCHAR}, </if>
			<if test="insertTime != null"> insert_time = #{insertTime,jdbcType=TIMESTAMP}, </if>
			<if test="inserter != null"> inserter = #{inserter,jdbcType=INTEGER}, </if>
			<if test="updater != null"> updater = #{updater,jdbcType=INTEGER}, </if>
			<if test="updateTime != null"> update_time = #{updateTime,jdbcType=TIMESTAMP}, </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 根据ID查询流水号 -->
	<select id="selectById" resultType="java.util.Map">
		select
		id,code,name,prefix,suffix,num,num_length,date_format,insert_time,inserter,updater,update_time
		from sys_number
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 根据code查询流水号 -->
	<select id="selectByCode" resultType="java.util.Map">
		select
		id,code,name,prefix,suffix,num,num_length,date_format,insert_time,inserter,updater,update_time
		from sys_number
		where code = #{code}
	</select>

	<!-- 根据ID查询流水号 -->
	<select id="selectEntityById" resultMap="BaseResultMap">
		select
		id,code,name,prefix,suffix,num,num_length,date_format,insert_time,inserter,updater,update_time
		from sys_number
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 查询流水号列表 -->
	<select id="selectAll" resultType="java.util.Map">
		select
		id,code,name,prefix,suffix,num,num_length,date_format,insert_time,inserter,updater,update_time
		from sys_number
	</select>

	<!-- 带参数查询流水号列表 -->
	<select id="selectList" resultType="java.util.Map">
		select *,
		CASE date_format WHEN date_format='' or date_format is null
		THEN
		CONCAT(prefix, DATE_FORMAT(NOW(),date_format),  LPAD((num), num_length, '0'),suffix)
		ELSE
		CONCAT(prefix, LPAD((num), num_length, '0'),suffix)
		END
		  formatNum from sys_number where 1=1
	</select>

	<!-- 检查流水号 -->
	<select id="checkNumber" resultType="java.lang.Integer">
		select count(code) from sys_number where code=#{code}
		<if test="id!=null and id!=''">
			and id !=#{id}
		</if>
	</select>

	<!-- 调用存储过程获取流水号 -->
	<parameterMap type="map" id="parameterMap">
		<parameter property="idd" jdbcType="INTEGER" mode="IN"/>
		<parameter property="newNum" jdbcType="VARCHAR" mode="OUT"/>
	</parameterMap>
	<select id="selectNum" parameterMap="parameterMap" statementType="CALLABLE" resultType="java.lang.String">
	{call gen_number(?, ?)}
	</select>
</mapper>

