<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.sys.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.krt.sys.entity.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
        <result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="inserter" jdbcType="INTEGER" property="inserter" />
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
        <result column="updater" jdbcType="INTEGER" property="updater" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,name,role_code,organization_code,status,inserter,insert_time,updater,update_time
    </sql>

    <!-- 添加用户表 -->
    <insert id="insert" parameterType="com.krt.sys.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> id, </if>
            <if test="username != null"> username, </if>
            <if test="password != null"> password, </if>
            <if test="name != null"> name, </if>
            <if test="roleCode != null"> role_code, </if>
            <if test="organizationCode != null"> organization_code, </if>
            <if test="status != null"> status, </if>
            <if test="inserter != null"> inserter, </if>
            <if test="insertTime != null"> insert_time, </if>
            <if test="updater != null"> updater, </if>
            <if test="updateTime != null"> update_time, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id,jdbcType=INTEGER}, </if>
            <if test="username != null"> #{username,jdbcType=VARCHAR}, </if>
            <if test="password != null"> #{password,jdbcType=VARCHAR}, </if>
            <if test="name != null"> #{name,jdbcType=VARCHAR}, </if>
            <if test="roleCode != null"> #{roleCode,jdbcType=VARCHAR}, </if>
            <if test="organizationCode != null"> #{organizationCode,jdbcType=VARCHAR}, </if>
            <if test="status != null"> #{status,jdbcType=VARCHAR}, </if>
            <if test="inserter != null"> #{inserter,jdbcType=INTEGER}, </if>
            <if test="insertTime != null"> #{insertTime,jdbcType=TIMESTAMP}, </if>
            <if test="updater != null"> #{updater,jdbcType=INTEGER}, </if>
            <if test="updateTime != null"> #{updateTime,jdbcType=TIMESTAMP}, </if>
        </trim>
    </insert>

    <!-- 删除用户表 -->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from sys_user where id = #{id,jdbcType=INTEGER}
    </delete>

    <!-- 批量删除用户表 -->
    <delete id="deleteByIds" parameterType="java.lang.Integer">
        delete from sys_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 修改用户表 -->
    <update id="update" parameterType="com.krt.sys.entity.User">
        update sys_user
        <set>
            <if test="id != null"> id = #{id,jdbcType=INTEGER}, </if>
            <if test="username != null"> username = #{username,jdbcType=VARCHAR}, </if>
            <if test="password != null"> password = #{password,jdbcType=VARCHAR}, </if>
            <if test="name != null"> name = #{name,jdbcType=VARCHAR}, </if>
            <if test="roleCode != null"> role_code = #{roleCode,jdbcType=VARCHAR}, </if>
            <if test="organizationCode != null"> organization_code = #{organizationCode,jdbcType=VARCHAR}, </if>
            <if test="status != null"> status = #{status,jdbcType=VARCHAR}, </if>
            <if test="inserter != null"> inserter = #{inserter,jdbcType=INTEGER}, </if>
            <if test="insertTime != null"> insert_time = #{insertTime,jdbcType=TIMESTAMP}, </if>
            <if test="updater != null"> updater = #{updater,jdbcType=INTEGER}, </if>
            <if test="updateTime != null"> update_time = #{updateTime,jdbcType=TIMESTAMP}, </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 根据ID查询用户表 -->
    <select id="selectById" resultType="java.util.Map">
        select s1.*,s2.id organization_id,s2.name organization_name from
        (select id,username,password,name,role_code,organization_code,status,inserter,insert_time,updater,update_time
        from sys_user
        where id = #{id,jdbcType=INTEGER})s1 LEFT JOIN sys_organization s2 on s1.organization_code = s2.code
    </select>

    <!-- 根据ID查询用户表 -->
    <select id="selectEntityById" resultMap="BaseResultMap">
        select
        id,username,password,name,role_code,organization_code,status,inserter,insert_time,updater,update_time
        from sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 查询用户表列表 -->
    <select id="selectAll" resultType="java.util.Map">
        select
        id,username,password,name,role_code,organization_code,status,inserter,insert_time,updater,update_time
        from sys_user
    </select>

    <!-- 带参数查询用户表列表 -->
    <select id="selectList" resultType="java.util.Map">
        select s1.*,s2.name roleName,s3.name organization_name from
        (select id, username, name, status, role_code ,organization_code from sys_user where username != 'admin'
        <if test="username !=null and username!=''">
            and username like concat('%',#{username},'%')
        </if>
        <if test="name !=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="roleCode !=null and roleCode!=''">
            and role_code =  #{roleCode}
        </if>
        <if test="organizationCode !=null and organizationCode!=''">
            and organization_code  = #{organizationCode}
        </if>
        <if test="status !=null and status!=''">
            and status = #{status}
        </if>
        )s1 left JOIN
        (select code,name from sys_role where 1=1
            <if test="roleCode !=null and roleCode!=''">
                and  code =  #{roleCode}
            </if>
        )s2 on s1.role_code = s2.code left JOIN
        (select code,name from sys_organization where 1=1
            <if test="organizationCode !=null and organizationCode!=''">
                and code =  #{organizationCode}
            </if>
        )s3 on s1.organization_code = s3.code
        order by s1.id desc
    </select>

    <select id="checkUsername" resultType="java.lang.Integer">
        select count(id) from sys_user where username=#{username}
        <if test="id!=null and id !=''">
            and id != #{id}
        </if>
    </select>

    <!-- 根据用户查询用户信息 -->
    <select id="selectByUsername" resultMap="BaseResultMap">
		select id, username, password, name, status, role_code from sys_user where username=#{username}
	</select>

</mapper>